.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
  }